
    <nav>
        <div>
            <h2>Homepage</h2>
            <a href="#">An AribadAwulo Site</a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
