
<%- include('./partials/header') %>

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
    <img src="" alt="Nature" style="width:100%">
    <h1><b>MY BLOG</b></h1>
    <p>Welcome to the blog of <span class="w3-tag">unknown</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
                <div class="w3-row">
                    <div id="article">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, incidunt.</p>

                        <h2>Dolor sit amet</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam debitis ullam, quisquam, cum at unde laborum possimus molestias consequuntur, adipisci sed? Modi doloribus facilis cum laboriosam quaerat. Pariatur aperiam nihil mollitia, rerum labore minus fuga esse, fugiat iste consequatur cupiditate veniam aut saepe sunt voluptate modi ullam incidunt ex!</p>
                        
                        <h2>Consectetur</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam debitis ullam, quisquam, cum at unde laborum possimus molestias consequuntur, adipisci sed? Modi doloribus facilis cum laboriosam quaerat. Pariatur aperiam nihil mollitia, rerum labore minus fuga esse, fugiat iste consequatur cupiditate veniam aut saepe sunt voluptate modi ullam incidunt ex!</p>
                        
                        <h2>Adipisicing elit</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam debitis ullam, quisquam, cum at unde laborum possimus molestias consequuntur, adipisci sed? Modi doloribus facilis cum laboriosam quaerat. Pariatur aperiam nihil mollitia, rerum labore minus fuga esse, fugiat iste consequatur cupiditate veniam aut saepe sunt voluptate modi ullam incidunt ex!</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam debitis ullam, quisquam, cum at unde laborum possimus molestias consequuntur, adipisci sed? Modi doloribus facilis cum laboriosam quaerat. Pariatur aperiam nihil mollitia, rerum labore minus fuga esse, fugiat iste consequatur cupiditate veniam aut saepe sunt voluptate modi ullam incidunt ex!</p>

                    </div>
                    <div class="w3-col m8 s12">
                        <p><button class="w3-button w3-padding-large w3-white w3-border"><b>COMMENT</b></button></p>
                    </div>
                </div>
            </div>
        </div>
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- Sidebar -->
    <%- include('./partials/sidebar') %>

<!-- END GRID -->
</div>

<!-- Footer -->
<%- include('./partials/footer') %>

